<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<ion-header>
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">PC Procurement</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-button expand="block" color="light">
          <ion-label>Choose RequestType</ion-label>
          <ion-icon name="arrow-down-circle-outline"></ion-icon>
        </ion-button>
      </ion-card-title>
      <ion-radio-group [(ngModel)]="formType" (ionChange)="handleFormTypeChange()">
        <ion-item>
          <ion-radio value="NewHire">New Hire</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="Replacement">Replacement</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="TemporaryArrangements">Temporary Arrangements</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="StockManagement">Stock Management</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-header>
    <br />

    <ion-card-content>
      <ng-container *ngIf="formType === 'NewHire'">
        <app-newhireform></app-newhireform>
      </ng-container>

      <ng-container *ngIf="formType === 'Replacement'">
        <app-replacementform></app-replacementform>
      </ng-container>

      <ng-container *ngIf="formType === 'StockManagement'">
        <app-temporaryform></app-temporaryform>
      </ng-container>

      <ng-container *ngIf="formType === 'TemporaryArrangements'">
        <app-stockmanagementform></app-stockmanagementform>
      </ng-container>

    </ion-card-content>
  </ion-card>
</ion-content>