<ion-header>
  <ion-toolbar>
    <div class="back-circle">
      <ion-img src="https://yokogawa.service-now.com/6749beaf1bbfe300b6351028bd4bcb1a.iix"></ion-img>
      <ion-title class="custom-font">IT Procurement</ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-button expand="block" color="light">
          <ion-label>Choose RequestType</ion-label>
          <ion-icon name="arrow-down-circle-outline"></ion-icon>
        </ion-button>
      </ion-card-title>
      <ion-radio-group [(ngModel)]="formType" (ionChange)="handleFormTypeChange()">
        <ion-item>
          <ion-radio checked="true" value="NewHire">New Hire</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="Replacement">Replacement</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="StockManagement">Stock Management</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="TemporaryArrangements">Temporary Arrangements</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-header>
    <br />

    <ion-card-content>
      <ng-container *ngIf="formType === 'NewHire'">
        <h3 class="text-center text-info">New Hire Form</h3>
        <app-newhireform></app-newhireform>
      </ng-container>

      <ng-container *ngIf="formType === 'Replacement'">
        <h3 class="text-center text-info">Replacement Form</h3>
        <app-replacementform></app-replacementform>
      </ng-container>

      <ng-container *ngIf="formType === 'StockManagement'">
        <h3 class="text-center text-info">Stock Management Form</h3>
        <app-stockmanagementform></app-stockmanagementform>
      </ng-container>

      <ng-container *ngIf="formType === 'TemporaryArrangements'">
        <h3 class="text-center text-info">Temporary Arrangements Form</h3>
        <app-temporaryform></app-temporaryform>
      </ng-container>

    </ion-card-content>
  </ion-card>
</ion-content>