<ion-header>
  <ion-toolbar>
    <div class="back-circle">
      <ion-img src="https://yokogawa.service-now.com/6749beaf1bbfe300b6351028bd4bcb1a.iix"></ion-img>
      <ion-title class="custom-font">IT Procurement</ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-card-header>
      <ion-radio-group [(ngModel)]="formType" (ionChange)="handleFormTypeChange()">
        <ion-item>
          <ion-radio value="NewHire" labelPlacement="end" justify="start">New Hire IT Request</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="Replacement" labelPlacement="end" justify="start">Replacement</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="StockManagement" labelPlacement="end" justify="start">Stock Management</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="TemporaryArrangements" labelPlacement="end" justify="start">Temporary
            Arrangements</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-header>

    <ion-card-content>
      <ng-container *ngIf="formType === 'NewHire'">
        <h3 class="text-center text-info"><span>IT Request Form For New Hire/Joinee</span></h3>
        <app-newhireform></app-newhireform>
      </ng-container>

      <ng-container *ngIf="formType === 'Replacement'">
        <h3 class="text-center text-info"><span>Replacement Form</span></h3>
        <app-replacementform></app-replacementform>
      </ng-container>

      <ng-container *ngIf="formType === 'StockManagement'">
        <h3 class="text-center text-info"><span>Stock Management Form</span></h3>
        <app-stockmanagementform></app-stockmanagementform>
      </ng-container>

      <ng-container *ngIf="formType === 'TemporaryArrangements'">
        <h3 class="text-center text-info"><span>Temporary Arrangements Form</span></h3>
        <app-temporaryform></app-temporaryform>
      </ng-container>

    </ion-card-content>
  </ion-card>
</ion-content>