.inline-table table thead {
    background: #428bca !important;
    color: azure !important;
}

.inline-table table thead th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
}

.invalid input.form-control {
    border-color: red;
}

.invalid select.form-control {
    border-color: red;
}

.invalid-inline {
    border: 1px solid red;
}

.invalid-inline input.form-control {
    border-color: red;
}


input[type=file] {
    display: inline-block;
    margin-bottom: 12px;
}

.invalid-file {
    border-color: red;
}

.attachments .filename {
    color: #428bca;
}

.unit-price-column {
    text-align: right;
}

.total-column {
    font-weight: bold;
}

.add-row-column {
    text-align: center;
}

label.required>span {
    color: red;
}


tbody tr:nth-child(odd) {
    // background-color: #ebebeb;
    background-color: #d5de4c14;
}


.btn-info {
    margin-left: 12px;
    margin-bottom: 12px;
}


// for mobile view only
@media (max-width: 768px) {
    .inline-table {
        overflow-x: auto;
    }

    .inline-table table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
        border-collapse: collapse;
    }

    .inline-table table thead th {
        white-space: nowrap;
    }

    .inline-table {
        width: 100%;
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
        margin-bottom: 15px;
    }

    .inline-table table {
        margin-bottom: 0;
    }

    .inline-table table thead th {
        white-space: nowrap;
    }
}