<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="back-circle">
      <ion-img src="https://yokogawa.service-now.com/6749beaf1bbfe300b6351028bd4bcb1a.iix"></ion-img>
      <ion-title class="custom-font">IT Procurement</ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-card-header>
      <ion-searchbar placeholder="Filter"></ion-searchbar>
    </ion-card-header>
    <ion-card-content>
      <div class="row">
        <div class="inline-table">
          <table class="table table-reponsive">
            <thead class="thead-light">
              <tr>
                <th scope="col">Procurement Id</th>
                <th scope="col">Seqeunce No</th>
                <th scope="col">Approver Type</th>
                <th scope="col">Request No</th>
                <th scope="col">Request Type</th>
                <th scope="col">Name</th>
                <th scope="col">Staus</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of approvalPendingList">
                <tr>
                  <td scope="col" data-title="SI No">{{data.id}}</td>
                  <td scope="col" data-title="SI No">{{data.sequence}}</td>
                  <td scope="col" data-title="SI No">{{data.approverType}}</td>
                  <td scope="col" data-title="Request No">{{data.RequestNumber}}</td>
                  <td scope="col" data-title="RequestType">{{data.RequestType}}</td>
                  <td scope="col" data-title="Name">{{data.Name}}</td>
                  <td scope="col" data-title="Status">{{data.Status}}</td>
                  <td scope="col" data-title="Action">
                    <ion-button (click)="redirectToApprovalListDetails(data.id, data.sequence)" class="edit"
                      color="tertiary" size="small">
                      <ion-icon name="open"></ion-icon>
                    </ion-button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>