<ion-app>
  <ion-menu menuId="main-menu" content-id="main">

    <div class="menu-header-bg">
    </div>

    <div class="header-content">
      <img src="../assets/profile/hacker.png" alt="profile">
      <ion-label>
        <h2>Welcome, {{currentUser?.user_name}}</h2>
      </ion-label>
    </div>

    <ion-content>
      <ion-list class="menu-items" lines="none">
        <ion-menu-toggle *ngFor="let module of module_ids">
          <ion-item [routerLink]="module.m_link" *ngIf="!module.root_module || module.root_module.length === 0">
            <ion-icon [name]="module.m_icon_name" slot="start"></ion-icon>
            <ion-label>{{ module.module_name }}</ion-label>
          </ion-item>

          <ion-item *ngIf="module.root_module && module.root_module.length > 0" button detail="true"
            detail-icon="caret-forward-outline" (click)="toggleSubMenu(module)">
            <ion-icon [name]="module.m_icon_name" slot="start"></ion-icon>
            <ion-label>{{ module.module_name }}</ion-label>
          </ion-item>

          <ion-list *ngIf="module.showSubMenu">
            <ion-item [routerLink]="subModule.m_link" *ngFor="let subModule of module.root_module">
              <ion-icon [name]="subModule.m_icon_name" slot="start"></ion-icon>
              <ion-label>{{ subModule.module_name }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer class="footer">
      <ion-toolbar>
        <ion-menu-toggle>
          <ion-item (click)="logout()" lines="none">
            <ion-icon name="log-out" slot="start" color="danger"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-toolbar>
    </ion-footer>

  </ion-menu>

  <ion-router-outlet id="main"> </ion-router-outlet>
  <lib-ng-toast></lib-ng-toast>
</ion-app>