.user-dropdown{
  margin-left: 5%;
  ion-icon:hover{
    color: #0000f0;
  } 
  ion-label:hover{
    color: #0000f0;
  }
}


.footer{
  ion-toolbar{
    background-color: #0000f0;
  }
  ion-item{
    cursor: pointer;
  }
}