<ion-header>
  <ion-toolbar>
    <div class="back-circle">
      <ion-img src="https://yokogawa.service-now.com/6749beaf1bbfe300b6351028bd4bcb1a.iix"></ion-img>
      <ion-title class="custom-font">IT Procurement</ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="modal-table">
    <ng-container *ngIf="procurementDataById">
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-button fill="clear" color="light" (click)="back()">Back</ion-button>
            <ion-title class="text-center">IT Procurement</ion-title>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-grid class="modern-table">
            <ion-row>
              <ion-col class="title-col">
                <p>Request No</p>
              </ion-col>
              <ion-col class="value-col">
                <p>{{procurementDataById.RequestNumber}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="title-col">
                <p>Request Type</p>
              </ion-col>
              <ion-col class="value-col">
                <p>{{procurementDataById.RequestType}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="title-col">
                <p>Name</p>
              </ion-col>
              <ion-col class="value-col">
                <p>{{procurementDataById.Name}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="title-col">
                <p>Is Expenditure</p>
              </ion-col>
              <ion-col class="value-col">
                <p>{{procurementDataById.IsExpenditure}}</p>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="procurementDataById.IsExpenditure=='Yes'">
              <ion-col class="title-col">
                <p>Total Budget</p>
              </ion-col>
              <ion-col class="value-col">
                <p>{{procurementDataById.TotalBudget}}</p>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="procurementDataById.IsExpenditure=='Yes'">
              <ion-col class="title-col">
                <p>Utilized Budget</p>
              </ion-col>
              <ion-col class="value-col">
                <p>{{procurementDataById.UtilizedBudget}}</p>
              </ion-col>
            </ion-row>



            <ion-row>
              <ion-col class="title-col">
                <p>Status</p>
              </ion-col>
              <ion-col class="value-col">
                <p>{{procurementDataById.Status}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="title-col">
                <p>Department</p>
              </ion-col>
              <ion-col class="value-col">
                <p>{{procurementDataById.Department}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <div class="row">
              <div class="inline-table">
                <table class="table table-reponsive">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Sl No</th>
                      <th scope="col">Item Category</th>
                      <th scope="col">Item</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Cost Center</th>
                      <th scope="col">Unit Price</th>
                      <th scope="col">Total Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let inlineitems of procurementDataById.inlineitem;let i=index">
                      <tr>
                        <td scope="col" data-title="Sl No">{{i+1}}</td>
                        <td scope="col" data-title="Item Category">{{inlineitems.category}}</td>
                        <td scope="col" data-title="Item">{{inlineitems.item}}</td>
                        <td scope="col" data-title="Quantity">{{inlineitems.quantity}}</td>
                        <td scope="col" data-title="Cost Center">{{inlineitems.costcenter}}</td>
                        <td scope="col" data-title="Unit Price">{{inlineitems.unitprice}}</td>
                        <td scope="col" data-title="Total Price">{{inlineitems.totalprice}}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-grid>
</ion-content>