<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Procurement List</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-card-header>
      <ion-searchbar placeholder="Filter"></ion-searchbar>
    </ion-card-header>
    <ion-card-content>
      <div class="row">
        <div class="inline-table">
          <table class="table table-reponsive">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Request No</th>
                <th scope="col">Request Type</th>
                <th scope="col">Name</th>
                <th scope="col">Staus</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of procurementData">
                <tr>
                  <td scope="col" data-title="Request No">{{data.id}}</td>
                  <td scope="col" data-title="Request No">{{data.RequestNumber}}</td>
                  <td scope="col" data-title="RequestType">{{data.RequestType}}</td>
                  <td scope="col" data-title="Name">{{data.Name}}</td>
                  <td scope="col" data-title="Status">{{data.Status}}</td>
                  <td scope="col" data-title="Action">
                    <ion-button (click)="redirectToProcurementDetails(data.id)" class="edit" color="tertiary" fill="clear" size="small">
                      <ion-icon name="eye-off-outline"></ion-icon>
                    </ion-button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>