
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* custom css for each page */

ion-header {
  ion-toolbar {
    --background: #1559A2;
    --color: #fff;
  }
}

// for yokogawa icon and title
ion-toolbar {
  .back-circle {
    display: flex;
    align-items: center;
  }

  .back-circle ion-img {
    width: 20%;
    height: 30px;
  }

  .back-circle ion-title {
    font-size: 14px;
  }
}
